

.ml-38 {
    margin-left: 38px;
}

.c-mp {
    color: var(--winner);
}

.grid {
    display: flex;
}

.gap-10 {
    grid-gap: 10px;
}

.flex-h-center {
    display: flex;
    justify-content: center;
}

.center-text {
    display: flex;
    text-align: center;
}


