@page "/"

<section class="report-layout">
    <section class="report-layout__upload">
        <Upload UploadText="Upload Files" Submit="ParseData"></Upload>
    </section>
    <section class="report-layout__classes">
        @foreach (var classRoom in classRooms)
        {
            <Card Title="@classRoom.Name"></Card>
        }
    </section>
    <section class="report-layout__stats"></section>
</section>
