
.report-layout {
    display: grid;
    grid-template-rows: 40px auto 1fr auto auto 40px;
    grid-gap: 60px;
}

.report-layout__upload {

}

.report-layout__classes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}

.sub-header {
    font-size:15px;
    margin: 0 0 12px 0;
}
