@page "/"

<section class="layout">
    <section class="layout__upload">
        <Upload UploadText="Upload Files"></Upload>
    </section>
    <section class="layout__classes">
        <Card></Card>
        <Card></Card>
        <Card></Card>
    </section>
    <section class="layout__stats"></section>
</section>
