@page "/"

<section class="report-layout">
    <section class="report-layout__upload">
        <Upload UploadText="Upload Files" Submit="ParseData"></Upload>
    </section>
    <section class="report-layout__classes">


        @foreach (var c in ClassRooms.OrderByDescending(x => x.ClassAverage))
        {
            <ClassRoom Name="@c.Name"
                       Average="@c.ClassAverage"
                       StudentsNotUsed="@c.NameOfStudentsNotUsedOnTest"
                       Ratio="(c.StudentsUsedToCalculateReport, c.StudentsWithinClass)"
                       ></ClassRoom>
        }
    </section>
    <section class="report-layout__export">
        <MudButton OnClick="ExportToTextFile">Export</MudButton>
    </section>
</section>
