<div class="card">
    <section class="card__header">
        @Title
    </section>
    <section class="card__body">

    </section>
    <section class="card__footer">

    </section>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}
